/* static/css/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  /* 수평 중앙 정렬 */
    align-items: center;      /* 수직 중앙 정렬 */
    height: 100vh;
    overflow: hidden; /* 페이지 넘어가는 부분 숨기기 */
}

.container {
    width: 100%;
    max-width: 800px; /* 최대 너비 설정 */
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;  /* 모든 내부 콘텐츠 중앙 정렬 */
    justify-content: center;  /* 수직 중앙 정렬 */
    height: 100%;  /* 컨테이너의 높이를 화면에 맞게 설정 */
}

/* 각 페이지별 스타일 */
.page {
    display: none;
}

.page.active {
    display: block;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#countdown {
    font-size: 48px;
    margin: 20px 0;
}

#game-text {
    font-size: 24px;
    margin: 20px 0;
}

#game-status {
    font-size: 18px;
    color: green;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 5px 0;
    font-weight: bold;
}

form input {
    padding: 8px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#game-start-image {
    width: 200px;
    height: auto;
    margin-top: 20px;
}

/* Countdown 스타일 */
#countdown {
    font-size: 48px;
    font-weight: bold;
    color: #ff0000;
}

/* 결과 페이지의 리스트 스타일 */
#results-page ul {
    list-style-type: none;
    padding: 0;
}

#results-page li {
    font-size: 18px;
    margin: 10px 0;
}

#landing-page h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

#landing-page p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

/* 미리보기 페이지 스타일 */
#mic-test-page #test-instruction {
    font-size: 20px;
    color: #333;
}

#mic-test-page #mic-status {
    margin-top: 10px;
    color: red;
    font-size: 16px;
}
